<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.utbm.carpooling"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="fr.utbm.carpooling.view.LoginActivity"
            android:label="@string/login_title"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="fr.utbm.carpooling.view.HomeActivity"
            android:label="@string/home_title">
        </activity>
        <activity
            android:name="fr.utbm.carpooling.view.ProfileActivity"
            android:label="@string/profile_title"
            android:parentActivityName="fr.utbm.carpooling.view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.utbm.carpooling.view.HomeActivity"/>
        </activity>
        <activity
            android:name="fr.utbm.carpooling.view.TripsActivity"
            android:label="@string/trips_title"
            android:parentActivityName="fr.utbm.carpooling.view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.utbm.carpooling.view.HomeActivity"/>
        </activity>
        <activity android:name=".view.EditCarActivity"/>
    </application>

</manifest>